<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
		a:link { 
			color:red; 
			text-decoration:underline; 
		} 
		a:visited { 
			color:blue; 
			text-decoration:none; 
		} 
		a:hover { 
			color:red; 
			text-decoration:none; 
		} 
		a:active { 
			color:#FFFFFF; 
			text-decoration:none; 
		} 

		.image-title{font-size:17px;color:red;font-weight:bold;}

		.image ul{list-style:none;}

		.image ul li{float:left;margin-right:30px;margin-left:-20px;}

	</style>
<head>
	<title>
		WIZ | Ethanol
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="padding-top:32px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://www.wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;" class="current_page_item"><a href="/event">Ethanol Asia</a></li>
						<li style="width:111px;background-color:#222222;"><a href="/agenda">Ethanol India</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Reviews 2015</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/sponsor">Sponsorship</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register ME</a></li>
					</ul>
				</div>
			</div>

			<div id="divcontent" style="width:1003px;position:absolute;margin-top:0px;background-color:#f5f4f3;z-index:-1;">
				<div align="center">
					<div><img src="/images/ethanol-asia-date.png"></img></div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>