<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
	
	</style>
<head>
	<title>
		WIZ | Ethanol
	</title>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="padding-top:32px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://www.wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;"><a href="/event">Ethanol Asia</a></li>
						<li style="width:111px;background-color:#222222;"><a href="/agenda">Ethanol India</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Reviews 2015</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/sponsor">Sponsorship</a></li>
						<li style="width:102px;background-color:#222222;" class="current_page_item"><a href="/register">Register Me</a></li>
					</ul>
				</div>
			</div>
			<div id="divcontent" class="content" style="width:1003px;background-color:#f5f4f3;">
			
				<div style="float:left;width:30%;padding-left:5px;padding-top:5px;">
					<h3 align="center" style="font-size:14px;">Registration</h3>
					<p align="center">Ms. Jenny Yang</p>
					<p align="center">Tel: +86-21-60246389</p>
					<p align="center">E-mail: info@wiz-biz.com</p>
				</div>
				<div style="float:left;width:40%;padding-left:5px;padding-top:5px;">
					<h3 align="center" style="font-size:14px;">Registration fee</h3>
					<ul id="fee">
						<li>Early Bird US$995/per Before April 22</li>
						<li>US$ 1095/per Group Discount</li>
						<li>US$ 1395/per for 1 person</li>
					</ul>
					<!--
					<p style="margin-left:25px;">
						<span style="font-weight:bold;color:red;">Deadline Feb 19, 2016</span>
					</p>
					-->
				</div>

				<div style="float:left;width:98%;margin-left:5px;border-top:1px solid gray;">
					<p>
						The fee includes lunch, dinner, refreshments and conference profile. Accommodation and travel costs are not included.
					</p>
					<p>
						<span style="font-weight:bold;">Payment:</span> Please make the payment within 5 working days after your registration. Official invoice copy will be send to you by email and original invoice will be given to you on the conference spot.
					</p>
					<p>
						<span style="font-weight:bold;">Cancellation:</span> If you cancel attendance, the registration fee will be refunded only if a written request is received before Feb. 19. No refund will be made thereafter. You may substitute delegates at any time and inform organizer before the conference.
					</p>
					<p>
						<span style="font-weight:bold;">Hotel:</span>
						 Accommodation and visa are not included in the conference fee.However, the organizer will be able to help with the reservation of the conference hotel.You can also choose to book other hotel as per your own arrangement.<span style="font-weight:bold;color:red;">Reservation form with more details will be sent to you upon registration confirmation.</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	</div>

 
</body>

</html>