<html>
    <link rel="shortcut icon" href="/images/wiz-icon.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylemain.css">
	<style>
	
	</style>
<head>
	<title>
		WIZ | Ethanol & Biofuels
	</title>
	<style type="text/css">
		.my-title{
			text-align: center;
		}

		.second-title{
			font-weight: bold;
		}

			a:link { 
			color:red; 
			text-decoration:underline; 
		} 
		a:visited { 
			color:blue; 
			text-decoration:none; 
		} 
		a:hover { 
			color:red; 
			text-decoration:none; 
		} 
		a:active { 
			color:#FFFFFF; 
			text-decoration:none; 
		} 
	</style>
</head>

<body style="position: relative; min-height: 100%; top: 0px;">
	<div id="main">
		<div id="site">
			<div id="logo1" style="display:block;">
				<div id="menu" style="padding-top:24px;float:right;">
					<ul id="ul">
						<li id="menu_corner" style="float:left; width:20px; height:33px;"></li>
						<li style="width:53px;background-color:#222222;"><a href="http://www.wiz-biz.com/">Home</a></li>
						<li style="width:104px;background-color:#222222;"><a href="/event">Ethanol Asia</a></li>
						<li style="width:111px;background-color:#222222;"><a href="/agenda">Ethanol India</a></li>
						<li style="width:128px;background-color:#222222;"><a href="/speaker">Reviews 2015</a></li>
						<li style="width:102px;background-color:#222222;" class="current_page_item"><a href="/sponsor">Sponsorship</a></li>
						<li style="width:102px;background-color:#222222;"><a href="/register">Register Me</a></li>
					</ul>
				</div>
				
			</div><!-- logo1 -->
			
			<!--
			<div id="divcontent" style="width:1003px;position:absolute;background-color:#f5f4f3;">
				<div align="center">
					<div style="font-size:15px;font-weight:bold;padding:5px;">Sponsors</div>
				</div>
				<div style="border:1px gray solid;"></div>
				<div>
					<img style="float:left;margin-left:50px;margin-right:20px;" src="/images/vogelbusch.jpg"></img>
					<p>
						Established in 1921, VOGELBUSCH is a centre of excellence for the key biotechnological tasks of fermentation, separation, distillation and evaporation, and offers a wide range of proprietary technologies for the industrial production of biocommodities, such as alcohol, bioethanol, vinegar, yeast, organic acids, glucose and high fructose syrup (HFS).
					</p>
					<p>
						Our highly specialized plants are tailored to customer’s needs. Services include technology and process design, supply of key equipment and technical start-up assistance or turnkey supply of complete process units
					</p>
					<p>
						VOGELBUSCH Biocommodities GmbH | Blechturmgasse 11 | 1051 Vienna | Austria
					</p>
					<p>
						vienna@vogelbusch.com | <a href="http://www.vogelbusch-biocommodities.com" target="_blank">www.vogelbusch-biocommodities.com</a>
					</p>
				</div>
				
				<div>
					<div style="border:1px gray solid;"></div>
					<a href="http://www.platts.com" target="_blank" title="S&P platts"><img style="float:left;margin-left:50px;margin-right:20px;margin-top:10px;" src="/images/platts.png"></img></a>
					<p style="float:left;width:800px;">
						S&P Global Platts, we provide the market insights so you can make better informed trading and business decisions. We’re the leading independent provider of information and benchmark prices for the commodities and energy markets. Customers in over 150 countries look to our expertise in news, pricing and analytics to deliver greater transparency and efficiency to markets. S&P Global Platts coverage includes oil and gas, power, petrochemicals, metals, agriculture and shipping.  S&P Global Platts is a division of S&P Global (NYSE: SPGI), which provides essential intelligence for individuals, companies and governments to make decisions with confidence. 
					</p>
					<p style="margin-left:180px;">
						S&P Global Platts' timely and insightful biofuels market information can give you what you need to make confident business decisions. Want to gain a deeper understanding of the key drivers affecting biofuels prices and spot import/export opportunities and threats? Visit www.platts.com to learn how our biofuels products can help give your business a competitive advantage. Try S&P Global Platts Biofuelscan report free for 5 days.
						</br>
						<a href="http://www.platts.com" target="_blank">www.platts.com</a>
					</p>
					
				</div>
				
				<div>
					<div style="border:1px gray solid;"></div>
					<img style="float:left;margin-left:50px;margin-right:20px;margin-top:10px;" src="/images/crest.png"></img>
					<p>
						Crest Biotech Pvt. Ltd. is DSIR, Government of India recognized R&D based Company, headed by Dr. H.C.Bhandari. He has more than 50 years of experience and expertise in the fermentation industry by virtue of working in various capacities in India, Denmark, Japan and other parts of the world.
					</p>
					<p>
						Crest has a strong team of highly qualified Technologists, Microbiologists, Chemists, Chemical Engineers and Technical Management personnel with marked standing experience in the industries. The technical manpower and expertise available are an unique assets of the Company
					</p>
					<p>
						The Company provides Unique Fermentation Technology for Bio Ethanol & Yeast (UF) and Zero Effluent Liquid  Discharge (ZELD)  in India and other counties. The technical affiliations of Crest with national and international institutes in India, USA and Japan have added strength to the Company’s activities.
						</br>
						<a href="http://www.crestbiotech.com" target="_blank">www.crestbiotech.com</a>
					</p>
				</div>
				
			</div>
		</div>
		-->
		<div id="divcontent" style="width:1003px;position:absolute;margin-top:0px;background-color:#f5f4f3;z-index:-1;">
			<div align="center">
				<div><img src="/images/india-sponsor.png"></img></div>
			</div>
		</div>
		
	</div>


 
</body>

</html>